{% extends 'base.html' %}

{% block main %}
  <div class="container">
    <h2>
        
    </h2>
    <div class="media">
        <img src="{{product.src}}" class="mr-3" alt="ha" style="width:250px;">
        <div class="media-body">
          <h5 class="mt-0">{{product.name}}</h5>
          <h4>Price {{product.price}}</h4>
          <p>
              {{product.desc}}
          </p>
          <a href="/add-cart/{{product.id}}" class="btn btn-danger">Add to Cart</a>
        </div>
      </div>
  </div>
  
{% endblock %}